Repository stellio-hub/stellio-context-broker, pull requests merged in 2020-12, with the labels that each got.

#259 fix(search): handle attribute events with operation payload containing attribute name in expanded format #258
  search-service/src/main/kotlin/com/egm/stellio/search/service/EntityEventListenerService.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/EntityEventListenerServiceTest.kt
Labels: fix, search

#260 feat(entity): add attrs support in entities endpoints #207
  entity-service/src/main/kotlin/com/egm/stellio/entity/web/EntityHandler.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/web/EntityHandlerTests.kt
  search-service/src/main/kotlin/com/egm/stellio/search/web/TemporalEntityHandler.kt
  shared/src/main/kotlin/com/egm/stellio/shared/model/JsonLdEntity.kt
  shared/src/main/kotlin/com/egm/stellio/shared/util/ApiUtils.kt
  shared/src/test/kotlin/com/egm/stellio/shared/util/ApiUtilsTests.kt
Labels: entity, feature

#261 feat(entity): add support for the simplified representation of entities #29
  entity-service/src/main/kotlin/com/egm/stellio/entity/web/EntityHandler.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/web/EntityHandlerTests.kt
  shared/src/main/kotlin/com/egm/stellio/shared/util/ApiUtils.kt
  shared/src/main/kotlin/com/egm/stellio/shared/util/JsonLdUtils.kt
Labels: entity, feature

#262 feat(entity): add more support for NGSI-LD query language #263
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/Neo4jRepository.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/EntityService.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/util/ParsingUtils.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/web/EntityHandler.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/repository/Neo4jRepositoryTests.kt
Labels: entity, feature

#266 feat(entity): update batch endpoints to v1.3.1 #265
  entity-service/src/main/kotlin/com/egm/stellio/entity/web/EntityOperationHandler.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/web/EntityOperationHandlerTests.kt
Labels: entity, feature

#272 fix: add log for NotificationService
  subscription-service/src/main/kotlin/com/egm/stellio/subscription/service/NotificationService.kt
Labels: fix

#271 fix: improve management of context in entity events #264
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/EntityEventService.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/EntityService.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/IAMListener.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/web/EntityHandler.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/web/EntityOperationHandler.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/service/EntityEventServiceTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/web/EntityHandlerTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/web/EntityOperationHandlerTests.kt
  entity-service/src/test/resources/ngsild/authorization/ClientCreateEvent.json
  entity-service/src/test/resources/ngsild/authorization/ClientDeleteEvent.json
  entity-service/src/test/resources/ngsild/authorization/GroupCreateEvent.json
  entity-service/src/test/resources/ngsild/authorization/GroupDeleteEvent.json
  entity-service/src/test/resources/ngsild/authorization/GroupMembershipAppendEvent.json
  entity-service/src/test/resources/ngsild/authorization/GroupUpdateEvent.json
  entity-service/src/test/resources/ngsild/authorization/RealmRoleAppendEventNoRole.json
  entity-service/src/test/resources/ngsild/authorization/RealmRoleAppendEventOneRole.json
  entity-service/src/test/resources/ngsild/authorization/RealmRoleAppendEventTwoRoles.json
  entity-service/src/test/resources/ngsild/authorization/RealmRoleAppendToClient.json
  entity-service/src/test/resources/ngsild/authorization/UserCreateEvent.json
  entity-service/src/test/resources/ngsild/authorization/UserDeleteEvent.json
  entity-service/src/test/resources/ngsild/events/listened/notificationCreateEvent.jsonld
  entity-service/src/test/resources/ngsild/events/listened/subscriptionCreateEvent.jsonld
  search-service/src/main/kotlin/com/egm/stellio/search/service/EntityEventListenerService.kt
  search-service/src/main/kotlin/com/egm/stellio/search/service/TemporalEntityAttributeService.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/EntityEventListenerServiceTest.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/TemporalEntityAttributeServiceTests.kt
  search-service/src/test/resources/ngsild/events/listened/notificationCreateEvent.jsonld
  search-service/src/test/resources/ngsild/events/listened/subscriptionCreateEvent.jsonld
  shared/src/main/kotlin/com/egm/stellio/shared/model/EntityEvent.kt
  shared/src/main/kotlin/com/egm/stellio/shared/model/JsonLdEntity.kt
  shared/src/main/kotlin/com/egm/stellio/shared/util/JsonLdUtils.kt
  shared/src/test/kotlin/com/egm/stellio/shared/model/JsonLdEntityTests.kt
  shared/src/test/kotlin/com/egm/stellio/shared/util/JsonUtilsTests.kt
  shared/src/test/resources/ngsild/events/entityCreateEvent.jsonld
  shared/src/test/resources/ngsild/events/entityDeleteEvent.jsonld
  shared/src/test/resources/ngsild/events/entityReplaceEvent.jsonld
  shared/src/test/resources/ngsild/events/entityUpdateEvent.jsonld
  subscription-service/src/main/kotlin/com/egm/stellio/subscription/service/EntityEventListenerService.kt
  subscription-service/src/main/kotlin/com/egm/stellio/subscription/service/NotificationService.kt
  subscription-service/src/main/kotlin/com/egm/stellio/subscription/web/SubscriptionHandler.kt
  subscription-service/src/test/kotlin/com/egm/stellio/subscription/service/NotificationServiceTests.kt
  subscription-service/src/test/kotlin/com/egm/stellio/subscription/service/SubscriptionEventServiceTests.kt
  subscription-service/src/test/kotlin/com/egm/stellio/subscription/web/SubscriptionHandlerTests.kt
  subscription-service/src/test/resources/ngsild/events/listened/AttributeReplaceEvent.json
  subscription-service/src/test/resources/ngsild/events/sent/subscription_create_event_payload.json
  subscription-service/src/test/resources/ngsild/events/sent/subscription_update_event_payload.json
Labels: common, fix

#274 fix(common): use the suitable context when expanding a JSON entity #273
  search-service/src/main/kotlin/com/egm/stellio/search/service/EntityEventListenerService.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/EntityEventListenerServiceTest.kt
  shared/src/main/kotlin/com/egm/stellio/shared/util/JsonLdUtils.kt
  subscription-service/src/main/kotlin/com/egm/stellio/subscription/service/EntityEventListenerService.kt
  subscription-service/src/main/kotlin/com/egm/stellio/subscription/service/NotificationService.kt
  subscription-service/src/test/kotlin/com/egm/stellio/subscription/service/EntityEventListenerServiceTests.kt
  subscription-service/src/test/kotlin/com/egm/stellio/subscription/service/NotificationServiceTests.kt
Labels: fix, search, subscription

#279 chore: update CLA to adopt FIWARE last recommendations
  .github/pull_request_template.md
  .github/workflows/cla.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  docs/CONTRIBUTING.md
  docs/cla/cla.md
Labels: feature

#174 feat(common): add version tag on docker images #156
  .github/workflows/cla.yml
  Jenkinsfile
Labels: devops, feature

#283 fix(entity): remove noisy warn message when a group or user role does not exist
  entity-service/src/main/kotlin/com/egm/stellio/entity/authorization/Neo4jAuthorizationRepository.kt
Labels: entity, fix

#282 feat(devops): add a step to build tagged Docker images
  Jenkinsfile
Labels: devops, feature
