Repository stellio-hub/stellio-context-broker, pull requests merged in 2020-11, with the labels that each got.

#242 fix(search): only temporal attributes must be retrieved #238
  search-service/src/main/kotlin/com/egm/stellio/search/web/TemporalEntityHandler.kt
  search-service/src/test/kotlin/com/egm/stellio/search/web/TemporalEntityHandlerTests.kt
  shared/src/main/kotlin/com/egm/stellio/shared/util/ApiUtils.kt
Labels: fix

#244 fix(search): fix on expanded attributes filtering #238
  search-service/config/detekt/baseline.xml
  search-service/src/main/kotlin/com/egm/stellio/search/model/TemporalQuery.kt
  search-service/src/main/kotlin/com/egm/stellio/search/service/TemporalEntityAttributeService.kt
  search-service/src/main/kotlin/com/egm/stellio/search/web/TemporalEntityHandler.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/TemporalEntityAttributeServiceTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/web/TemporalEntityHandlerTests.kt
  shared/src/main/kotlin/com/egm/stellio/shared/util/JsonLdUtils.kt
Labels: fix

#198 feat(entity): complete implementation of partial attribute update #190
  entity-service/src/main/kotlin/com/egm/stellio/entity/model/Property.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/model/Relationship.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/EntityRepository.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/Neo4jRepository.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/EntityAttributeService.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/EntityService.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/SubscriptionHandlerService.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/web/EntityHandler.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/repository/Neo4jRepositoryTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/service/EntityAttributeServiceTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/service/EntityServiceTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/service/SubscriptionHandlerServiceTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/web/EntityHandlerTests.kt
  entity-service/src/test/resources/ngsild/aquac/fragments/DeadFishes_partialAttributeUpdate.json
  entity-service/src/test/resources/ngsild/aquac/fragments/DeadFishes_partialAttributeUpdate_relationshipObjectNotFound.json
  entity-service/src/test/resources/ngsild/aquac/fragments/DeadFishes_updateEntityAttribute.json
  entity-service/src/test/resources/ngsild/aquac/fragments/DeadFishes_updateEntityAttributes_invalidAttribute.json
  search-service/config/detekt/baseline.xml
  shared/src/main/kotlin/com/egm/stellio/shared/model/NgsiLdEntity.kt
  shared/src/main/kotlin/com/egm/stellio/shared/util/JsonLdUtils.kt
  shared/src/test/kotlin/com/egm/stellio/shared/util/JsonLdUtilsTests.kt
Labels: entity, feature

#246 fix(search): remove useless observed at from temporal entity evolution response #236
  search-service/src/main/kotlin/com/egm/stellio/search/service/TemporalEntityAttributeService.kt
  search-service/src/test/kotlin/com/egm/stellio/search/web/TemporalEntityHandlerTests.kt
  search-service/src/test/resources/ngsild/beehive_with_two_temporal_attributes_evolution_temporal_values.jsonld
  search-service/src/test/resources/ngsild/expectations/beehive_incoming_multi_instances_string_temporal_values.jsonld
  search-service/src/test/resources/ngsild/expectations/beehive_incoming_multi_instances_temporal_values.jsonld
  search-service/src/test/resources/ngsild/expectations/beehive_incoming_multi_instances_without_datasetId_temporal_values.jsonld
  search-service/src/test/resources/ngsild/expectations/beehive_with_incoming_temporal_values.jsonld
  shared/src/main/kotlin/com/egm/stellio/shared/util/JsonLdUtils.kt
  subscription-service/src/main/kotlin/com/egm/stellio/subscription/service/SubscriptionService.kt
Labels: fix, search

#245 feat(entity): send entity events for append entity attributes #230
  entity-service/config/detekt/baseline.xml
  entity-service/src/main/kotlin/com/egm/stellio/entity/model/UpdateResult.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/EntityService.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/web/EntityHandler.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/web/EntityHandlerTests.kt
  entity-service/src/test/resources/ngsild/aquac/fragments/BreedingService_twoNewProperties.json
  shared/src/main/kotlin/com/egm/stellio/shared/model/NgsiLdEntity.kt
Labels: entity, feature

#248 feat(entity): add support for multi attributes relationships in update/append attributes #101
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/EntityService.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/service/EntityServiceTests.kt
Labels: entity, feature

#250 feat(search): handle attributeUpdateEvents in search service #249
  search-service/config/detekt/baseline.xml
  search-service/src/main/kotlin/com/egm/stellio/search/service/EntityEventListenerService.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/EntityEventListenerServiceTest.kt
Labels: feature, search

#252 feat(search): handle attributeAppend events in search service #251
  search-service/src/main/kotlin/com/egm/stellio/search/service/EntityEventListenerService.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/EntityEventListenerServiceTest.kt
Labels: feature, search

#254 refactor: move publishing of append entity attributes events to EntityEventService #253
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/EntityEventService.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/web/EntityHandler.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/service/EntityEventServiceTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/web/EntityHandlerTests.kt
Labels: entity, refactoring

#256 feat(entity): publish events of upsert batch of entities #255
  entity-service/config/detekt/baseline.xml
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/EntityOperationService.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/web/APIResponses.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/web/EntityOperationHandler.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/service/EntityOperationServiceTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/web/EntityOperationHandlerTests.kt
  shared/config/detekt/baseline.xml
  shared/src/main/kotlin/com/egm/stellio/shared/model/EntityEvent.kt
  shared/src/test/kotlin/com/egm/stellio/shared/util/JsonUtilsTests.kt
  shared/src/test/resources/ngsild/events/entityReplaceEvent.jsonld
Labels: entity, feature

#257 fix(entity): add JsonIgnore annotation to getSuccessfulEntitiesIds method #255
  entity-service/src/main/kotlin/com/egm/stellio/entity/web/APIResponses.kt
Labels: entity, feature, fix
