Repository stellio-hub/stellio-context-broker, pull requests merged in 2020-07, with the labels that each got.

#98 fix(entity): fix the check of the geoPropertyType for location properties #97
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/EntityService.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/service/EntityServiceTests.kt
Labels: entity, fix

#100 feat: switch to new default for authentication realm
  API_Quick_Start.md
  api-gateway/src/main/resources/application.yml
  entity-service/src/main/resources/application.properties
  search-service/src/main/resources/application.properties
  subscription-service/src/main/resources/application.properties
Labels: chore, common, feature

#102 feature(entity): add support for multi attribute in create/retrieve entity
  entity-service/src/main/kotlin/com/egm/stellio/entity/model/Attribute.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/model/Property.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/model/UriConverter.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/EntityService.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/service/EntityServiceTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/web/EntityHandlerTests.kt
  entity-service/src/test/resources/ngsild/aquac/BreedingService_propWithDifferentInstancesType.json
  entity-service/src/test/resources/ngsild/aquac/BreedingService_propWithDuplicatedDatasetId.json
  entity-service/src/test/resources/ngsild/aquac/BreedingService_propWithMoreThanOneDefaultInstance.json
  shared/src/main/kotlin/com/egm/stellio/shared/model/ExpandedEntity.kt
  shared/src/main/kotlin/com/egm/stellio/shared/util/NgsiLdParsingUtils.kt
Labels: entity, feature

#106 fix(search): prevent 500 error if an attribute instance has no value #104
  search-service/src/main/kotlin/com/egm/stellio/search/service/TemporalEntityAttributeService.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/TemporalEntityAttributeServiceTests.kt
  search-service/src/test/resources/ngsild/expectations/subscription_with_notifications_with_null_values.jsonld
Labels: fix

#109 feat(search): add support for textual values in update events #93
  search-service/src/main/kotlin/com/egm/stellio/search/listener/EntityListener.kt
  search-service/src/test/kotlin/com/egm/stellio/search/listener/EntityListenerTest.kt
Labels: feature

#110 feat(entity): add support for multi-attribute in update entity attributes
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/Neo4jRepository.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/EntityService.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/repository/Neo4jRepositoryTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/service/EntityServiceTests.kt
Labels: entity, feature

#113 Feature/101 add support for multi attributes
  entity-service/src/main/kotlin/com/egm/stellio/entity/model/Attribute.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/model/Property.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/model/UriConverter.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/Neo4jRepository.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/EntityService.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/repository/Neo4jRepositoryTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/service/EntityServiceTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/web/EntityHandlerTests.kt
  entity-service/src/test/resources/ngsild/aquac/BreedingService_propWithDifferentInstancesType.json
  entity-service/src/test/resources/ngsild/aquac/BreedingService_propWithDuplicatedDatasetId.json
  entity-service/src/test/resources/ngsild/aquac/BreedingService_propWithMoreThanOneDefaultInstance.json
  shared/src/main/kotlin/com/egm/stellio/shared/model/ExpandedEntity.kt
  shared/src/main/kotlin/com/egm/stellio/shared/util/NgsiLdParsingUtils.kt
Labels: entity, feature

#112 feat(entity): add support for multi attribute relationships #101
  entity-service/src/main/kotlin/com/egm/stellio/entity/model/Relationship.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/EntityService.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/service/EntityServiceTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/web/EntityHandlerTests.kt
  entity-service/src/test/resources/ngsild/aquac/MortalityService_relWithDifferentInstancesType.json
  entity-service/src/test/resources/ngsild/aquac/MortalityService_relWithDuplicatedDatasetId.json
  entity-service/src/test/resources/ngsild/aquac/MortalityService_relWithMoreThanOneDefaultInstance.json
  shared/src/main/kotlin/com/egm/stellio/shared/model/ExpandedEntity.kt
  shared/src/main/kotlin/com/egm/stellio/shared/util/NgsiLdParsingUtils.kt
Labels: entity, feature

#111 feat(search): integrate creation and update of a multi attribute property #101
  search-service/src/main/kotlin/com/egm/stellio/search/listener/EntityListener.kt
  search-service/src/main/kotlin/com/egm/stellio/search/model/TemporalEntityAttribute.kt
  search-service/src/main/kotlin/com/egm/stellio/search/service/TemporalEntityAttributeService.kt
  search-service/src/main/resources/db/migration/V0_10__add_support_for_multi_attribute.sql
  search-service/src/test/kotlin/com/egm/stellio/search/listener/EntityListenerTest.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/TemporalEntityAttributeServiceTests.kt
  search-service/src/test/resources/ngsild/beehive2_two_temporal_properties.jsonld
  search-service/src/test/resources/ngsild/beehive_multi_instance_property.jsonld
  shared/src/main/kotlin/com/egm/stellio/shared/model/ExpandedEntity.kt
  shared/src/main/kotlin/com/egm/stellio/shared/util/NgsiLdParsingUtils.kt
Labels: feature

#116 feat(entity): add support for multi attribute in append entity attributes
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/EntityService.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/service/EntityServiceTests.kt
  shared/src/main/kotlin/com/egm/stellio/shared/util/NgsiLdParsingUtils.kt
Labels: entity, feature

#125 feat(entity): add support for multi-attribute relationships (create/retrieve) and properties (append) + integration in search #101
  entity-service/src/main/kotlin/com/egm/stellio/entity/model/Relationship.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/EntityService.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/service/EntityServiceTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/web/EntityHandlerTests.kt
  entity-service/src/test/resources/ngsild/aquac/MortalityService_relWithDifferentInstancesType.json
  entity-service/src/test/resources/ngsild/aquac/MortalityService_relWithDuplicatedDatasetId.json
  entity-service/src/test/resources/ngsild/aquac/MortalityService_relWithMoreThanOneDefaultInstance.json
  search-service/src/main/kotlin/com/egm/stellio/search/listener/EntityListener.kt
  search-service/src/main/kotlin/com/egm/stellio/search/model/AttributeInstanceResult.kt
  search-service/src/main/kotlin/com/egm/stellio/search/model/TemporalEntityAttribute.kt
  search-service/src/main/kotlin/com/egm/stellio/search/service/AttributeInstanceService.kt
  search-service/src/main/kotlin/com/egm/stellio/search/service/TemporalEntityAttributeService.kt
  search-service/src/main/resources/db/migration/V0_10__add_support_for_multi_attribute.sql
  search-service/src/main/resources/db/migration/V0_11__remove_attribute_instances_having_null_values_and_measured_values.sql
  search-service/src/test/kotlin/com/egm/stellio/search/listener/EntityListenerTest.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/AttributeInstanceServiceTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/TemporalEntityAttributeServiceTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/util/ParameterizedTests.kt
  search-service/src/test/resources/ngsild/beehive2_two_temporal_properties.jsonld
  search-service/src/test/resources/ngsild/beehive_multi_instance_property.jsonld
  search-service/src/test/resources/ngsild/beehive_multi_instance_property_with_dafault_instance.jsonld
  search-service/src/test/resources/ngsild/expectations/beehive_incoming_multi_instances.jsonld
  search-service/src/test/resources/ngsild/expectations/beehive_incoming_multi_instances_string_temporal_values.jsonld
  search-service/src/test/resources/ngsild/expectations/beehive_incoming_multi_instances_string_values.jsonld
  search-service/src/test/resources/ngsild/expectations/beehive_incoming_multi_instances_temporal_values.jsonld
  search-service/src/test/resources/ngsild/expectations/beehive_incoming_multi_instances_without_datasetId.jsonld
  search-service/src/test/resources/ngsild/expectations/beehive_incoming_multi_instances_without_datasetId_temporal_values.jsonld
  shared/src/main/kotlin/com/egm/stellio/shared/model/ExpandedEntity.kt
  shared/src/main/kotlin/com/egm/stellio/shared/util/NgsiLdParsingUtils.kt
Labels: entity, search

#128 fix(entity): fix search entities behaviour when a matching entity is deleted
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/EntityService.kt
Labels: entity, fix

#131 documentation: add CONTRIBUTING.md file #60
  docs/CONTRIBUTING.md
Labels: documentation

#135 fix(search): fix behaviour of getForEntityAndAttribute with null datasetId #134
  search-service/src/main/kotlin/com/egm/stellio/search/service/TemporalEntityAttributeService.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/TemporalEntityAttributeServiceTests.kt
Labels: fix, search

#120 feat(common): create Kubernetes config files #119
  README.md
  kubernetes/README.md
  kubernetes/api-gateway-deployment.yaml
  kubernetes/entity-service-deployment.yaml
  kubernetes/kafka-deployment.yaml
  kubernetes/neo4j-deployment.yaml
  kubernetes/postgres-deployment.yaml
  kubernetes/search-service-deployment.yaml
  kubernetes/stellio-configmap.yaml
  kubernetes/stellio-ingress.yaml
  kubernetes/subscription-service-deployment.yaml
  kubernetes/zookeeper-deployment.yaml
Labels: feature

#137 feat(search): store entity payload in dedicated table #35
  search-service/src/main/kotlin/com/egm/stellio/search/listener/EntityListener.kt
  search-service/src/main/kotlin/com/egm/stellio/search/service/TemporalEntityAttributeService.kt
  search-service/src/main/kotlin/com/egm/stellio/search/web/TemporalEntityHandler.kt
  search-service/src/main/resources/db/migration/V0_12__add_entity_payload_table.sql
  search-service/src/test/kotlin/com/egm/stellio/search/listener/EntityListenerTest.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/TemporalEntityAttributeServiceTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/web/TemporalEntityHandlerTests.kt
Labels: feature, search
