Repository stellio-hub/stellio-context-broker, pull requests merged in 2021-08, with the labels that each got.

#475 feat: upgrade TimescaleDB to 2.3.0 with PostgreSQL 13
  docker-compose.yml
  search-service/docker-compose.yml
  search-service/src/test/kotlin/com/egm/stellio/search/support/WithTimescaleContainer.kt
  subscription-service/docker-compose.yml
  subscription-service/src/test/kotlin/com/egm/stellio/subscription/support/WithTimescaleContainer.kt
Labels: feature, search, subscription

#478 feat(search): reimplement add instances to temporal entity #71
  search-service/config/detekt/baseline.xml
  search-service/src/main/kotlin/com/egm/stellio/search/service/AttributeInstanceService.kt
  search-service/src/main/kotlin/com/egm/stellio/search/web/TemporalEntityHandler.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/AttributeInstanceServiceTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/web/TemporalEntityHandlerTests.kt
  search-service/src/test/resources/ngsild/fragments/temporal_entity_fragment_many_attributes_many_instances.jsonld
  search-service/src/test/resources/ngsild/fragments/temporal_entity_fragment_many_attributes_one_instance.jsonld
  search-service/src/test/resources/ngsild/fragments/temporal_entity_fragment_one_attribute_many_instances.jsonld
  search-service/src/test/resources/ngsild/fragments/temporal_entity_fragment_one_attribute_one_instance.jsonld
  search-service/src/test/resources/ngsild/observation.jsonld
  shared/src/main/kotlin/com/egm/stellio/shared/util/JsonLdUtils.kt
Labels: feature, search

#480 feat(common): return a LdContextNotAvailable error if the JSON-LD context is not resolvable
  entity-service/src/test/kotlin/com/egm/stellio/entity/web/EntityHandlerTests.kt
  shared/src/main/kotlin/com/egm/stellio/shared/model/APiExceptions.kt
  shared/src/main/kotlin/com/egm/stellio/shared/model/ErrorResponse.kt
  shared/src/main/kotlin/com/egm/stellio/shared/util/JsonLdUtils.kt
  shared/src/main/kotlin/com/egm/stellio/shared/web/ExceptionHandler.kt
  shared/src/test/kotlin/com/egm/stellio/shared/util/JsonLdUtilsTests.kt
  shared/src/test/kotlin/com/egm/stellio/shared/web/ExceptionHandlerTests.kt
Labels: common, ngsild-1.2.1

#429 fix(common): replace page by offset in pagination queries #428
  entity-service/config/detekt/baseline.xml
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/Neo4jSearchRepository.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/QueryUtils.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/SearchRepository.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/StandaloneNeo4jSearchRepository.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/EntityService.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/web/EntityHandler.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/repository/Neo4jSearchRepositoryTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/repository/StandaloneNeo4jSearchRepositoryTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/util/QueryEntitiesParameterizedTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/web/EntityHandlerTests.kt
  shared/src/main/kotlin/com/egm/stellio/shared/util/ApiUtils.kt
  shared/src/main/kotlin/com/egm/stellio/shared/util/PagingUtils.kt
  shared/src/test/kotlin/com/egm/stellio/shared/util/PagingUtilsTests.kt
  subscription-service/src/main/kotlin/com/egm/stellio/subscription/web/SubscriptionHandler.kt
  subscription-service/src/test/kotlin/com/egm/stellio/subscription/web/SubscriptionHandlerTests.kt
Labels: fix, entity, subscription

#474 feat: add Docker images for linux/arm64 architecture #473
  api-gateway/build.gradle.kts
  build.gradle.kts
  entity-service/build.gradle.kts
  entity-service/src/main/jib/database/wait-for-it.sh
  entity-service/src/main/jib/database/wait-for-neo4j.sh
  search-service/build.gradle.kts
  subscription-service/build.gradle.kts
Labels: feature, common, devops

#486 fix: remove custom trailing of zeroes for milliseconds in dates formatting
  search-service/src/test/kotlin/com/egm/stellio/search/service/SubscriptionEventListenerServiceTest.kt
  shared/src/main/kotlin/com/egm/stellio/shared/util/DateUtils.kt
  shared/src/test/kotlin/com/egm/stellio/shared/util/DateUtilsTests.kt
Labels: fix, common

#487 fix(search): ensure deletion of instances is done before deleting temporal entity attributes
  search-service/src/main/kotlin/com/egm/stellio/search/service/TemporalEntityAttributeService.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/TemporalEntityAttributeServiceTests.kt
Labels: fix, search

#493 feat(entity): store object of a relationship along with the relationship node
  entity-service/src/main/kotlin/com/egm/stellio/entity/authorization/Neo4jAuthorizationService.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/model/Relationship.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/Neo4jRepository.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/EntityService.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/SubscriptionHandlerService.kt
  entity-service/src/main/resources/neo4j/migrations/V08__add_object_id_in_relationships.cypher
  entity-service/src/test/kotlin/com/egm/stellio/entity/authorization/Neo4jAuthorizationRepositoryTest.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/repository/Neo4jRepositoryTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/repository/Neo4jSearchRepositoryTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/repository/StandaloneNeo4jSearchRepositoryTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/service/EntityAttributeServiceTests.kt
Labels: feature
