Repository stellio-hub/stellio-context-broker, pull requests merged in 2021-02, with the labels that each got.

#304 feat: switch to gradle task for sonarcloud integration #303
  .github/workflows/sonar.yml
  Jenkinsfile
  build.gradle.kts
Labels: common, quality

#306 feat(subscription): handle attribute update events
  subscription-service/src/main/kotlin/com/egm/stellio/subscription/service/EntityEventListenerService.kt
  subscription-service/src/test/kotlin/com/egm/stellio/subscription/service/EntityEventListenerServiceTests.kt
  subscription-service/src/test/resources/ngsild/events/listened/AttributeUpdateEvent.json
Labels: feature

#308 fix(subscription): use expanded form to filter on notification attributes #307
  subscription-service/src/main/kotlin/com/egm/stellio/subscription/service/NotificationService.kt
  subscription-service/src/test/kotlin/com/egm/stellio/subscription/service/NotificationServiceTests.kt
Labels: fix, subscription

#312 feat(search): extend the size of value column in attribute instance table to varying(4096) #311
  search-service/src/main/resources/db/migration/V0_13__extend_size_value_column_in_attribute_instance_table.sql
Labels: feature, search

#310 fix: publish entity events with current dataset id in update entity attributes #309
  entity-service/config/detekt/baseline.xml
  entity-service/src/main/kotlin/com/egm/stellio/entity/web/EntityHandler.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/web/EntityHandlerTests.kt
  shared/src/main/kotlin/com/egm/stellio/shared/model/NgsiLdEntity.kt
Labels: entity, fix

#314 feat(gateway): add types route in the api gateway #313
  api-gateway/src/main/kotlin/com/egm/stellio/apigateway/ApiGatewayApplication.kt
Labels: feature, gateway

#316 fix(entity): fix retrieve of entity types location attributes #315
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/Neo4jRepository.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/repository/Neo4jRepositoryTests.kt
Labels: entity, fix

#317 feat: add config file for Dependabot updates
  .github/dependabot.yml
Labels: feature
