Repository stellio-hub/stellio-context-broker, pull requests merged in 2021-04, with the labels that each got.

#361 fix(entity): return early if no entities found in a query
  entity-service/config/detekt/baseline.xml
  entity-service/src/main/kotlin/com/egm/stellio/entity/web/EntityHandler.kt
Labels: entity, fix

#365 fix: check topic names validity before sending a message to Kafka #364
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/EntityEventService.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/ObservationEventListener.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/web/EntityHandler.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/web/EntityOperationHandler.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/service/EntityEventServiceTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/web/EntityHandlerTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/web/EntityOperationHandlerTests.kt
Labels: entity, fix

#369 feat: handle entityCreate events coming from observations #366
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/ObservationEventListener.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/service/ObservationEventListenerTests.kt
  entity-service/src/test/resources/ngsild/observations/beehiveCreateEvent.jsonld
Labels: entity, feature

#370 feat: add support for the temporal evolution of relationships #367
  search-service/config/detekt/baseline.xml
  search-service/src/main/kotlin/com/egm/stellio/search/model/AttributeMetadata.kt
  search-service/src/main/kotlin/com/egm/stellio/search/model/TemporalEntityAttribute.kt
  search-service/src/main/kotlin/com/egm/stellio/search/service/EntityEventListenerService.kt
  search-service/src/main/kotlin/com/egm/stellio/search/service/TemporalEntityAttributeService.kt
  search-service/src/main/kotlin/com/egm/stellio/search/service/TemporalEntityService.kt
  search-service/src/main/resources/db/migration/V0_15__add_attribute_type_in_temporal_entity_table.sql
  search-service/src/test/kotlin/com/egm/stellio/search/service/EntityEventListenerServiceTest.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/TemporalEntityServiceTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/util/ParameterizedTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/util/QueryParameterizedTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/util/TestUtils.kt
  search-service/src/test/kotlin/com/egm/stellio/search/web/TemporalEntityHandlerTests.kt
  search-service/src/test/resources/ngsild/expectations/beehive_incoming_multi_instances_without_datasetId_string_temporal_values.jsonld
  search-service/src/test/resources/ngsild/expectations/beehive_incoming_multi_instances_without_datasetId_string_values.jsonld
  search-service/src/test/resources/ngsild/expectations/beehive_relationship_multi_instances_temporal_values.jsonld
  search-service/src/test/resources/ngsild/expectations/beehive_relationship_multi_instances_without_datasetId.jsonld
  search-service/src/test/resources/ngsild/expectations/beehive_with_incoming_temporal_values.jsonld
  search-service/src/test/resources/ngsild/expectations/query/two_entities_temporal_values_property_and_relationship.json
  search-service/src/test/resources/ngsild/expectations/subscription_with_notifications.jsonld
  search-service/src/test/resources/ngsild/expectations/subscription_with_notifications_temporal_values.jsonld
  shared/build.gradle.kts
  shared/src/testFixtures/kotlin/com/egm/stellio/shared/util/AssertionUtils.kt
Labels: feature

#376 feat(entity): handle attribute append events for observations #375
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/ObservationEventListener.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/service/ObservationEventListenerTests.kt
  entity-service/src/test/resources/ngsild/observations/humidityAppendEvent.jsonld
  entity-service/src/test/resources/ngsild/observations/unparseable/humidityAppendEvent.jsonld
  shared/src/main/kotlin/com/egm/stellio/shared/model/EntityEvent.kt
  shared/src/main/kotlin/com/egm/stellio/shared/util/JsonLdUtils.kt
Labels: entity, feature

#374 fix(devops): update Kubernetes configmap metadata #372
  kubernetes/stellio-configmap.yaml
Labels: devops, fix

#377 feat(entity): add support for Polygon GeoProperties #373
  build.gradle.kts
  entity-service/config/detekt/baseline.xml
  entity-service/src/main/kotlin/com/egm/stellio/entity/model/Entity.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/Neo4jRepository.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/EntityService.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/web/EntityHandler.kt
  entity-service/src/main/resources/neo4j/migrations/V07__update_locations_to_wkt_format.cypher
  entity-service/src/test/kotlin/com/egm/stellio/entity/repository/Neo4jRepositoryTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/service/EntityServiceTests.kt
  shared/config/detekt/baseline.xml
  shared/src/main/kotlin/com/egm/stellio/shared/model/NgsiLdEntity.kt
  shared/src/main/kotlin/com/egm/stellio/shared/util/JsonLdUtils.kt
  shared/src/test/kotlin/com/egm/stellio/shared/model/NgsiLdEntityTests.kt
  shared/src/test/kotlin/com/egm/stellio/shared/util/JsonLdUtilsTests.kt
  shared/src/testFixtures/kotlin/com/egm/stellio/shared/util/TestUtils.kt
  subscription-service/src/main/kotlin/com/egm/stellio/subscription/utils/QueryUtils.kt
Labels: entity, feature

#379 feat(entity): add support for retrieve available entity types #268
  entity-service/src/main/kotlin/com/egm/stellio/entity/model/EntityType.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/model/EntityTypeList.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/Neo4jRepository.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/EntityTypeService.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/web/EntityTypeHandler.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/repository/Neo4jRepositoryTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/service/EntityTypeServiceTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/web/EntityTypeHandlerTests.kt
Labels: entity, feature

#380 feat(entity): handle accept header in Retrieve Available Entity Type Information #52
  entity-service/src/main/kotlin/com/egm/stellio/entity/web/EntityTypeHandler.kt
Labels: entity, feature

#382 feat(entity): add basic support for id pattern when querying entities #381
  entity-service/config/detekt/baseline.xml
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/Neo4jRepository.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/EntityService.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/web/EntityHandler.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/repository/Neo4jRepositoryTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/web/EntityHandlerTests.kt
  shared/src/main/kotlin/com/egm/stellio/shared/util/ApiUtils.kt
Labels: entity, feature

#371 feat: add support for multi attribute in partial entity attributes update #101
  entity-service/config/detekt/baseline.xml
  entity-service/src/main/kotlin/com/egm/stellio/entity/model/UpdateResult.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/Neo4jRepository.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/EntityAttributeService.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/EntityEventService.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/EntityService.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/ObservationEventListener.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/web/EntityHandler.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/repository/Neo4jRepositoryTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/service/EntityAttributeServiceTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/service/EntityEventServiceTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/service/ObservationEventListenerTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/web/EntityHandlerTests.kt
  entity-service/src/test/resources/ngsild/aquac/fragments/DeadFishes_partialMultiAttributeUpdate.json
  shared/src/main/kotlin/com/egm/stellio/shared/util/JsonLdUtils.kt
Labels: entity, feature
