Repository stellio-hub/stellio-context-broker, pull requests merged in 2021-05, with the labels that each got.

#391 fix(search): temporal attribute metadata extraction for ATTRIBUTE_UPDATE events #390
  search-service/config/detekt/baseline.xml
  search-service/src/main/kotlin/com/egm/stellio/search/service/EntityEventListenerService.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/EntityEventListenerServiceTest.kt
Labels: fix, search

#394 fix: force attributes compaction before being extracted #393
  shared/src/main/kotlin/com/egm/stellio/shared/util/JsonLdUtils.kt
Labels: fix, search

#396 fix(search): ensure uniqueness of default temporal attributes #395
  search-service/src/main/resources/db/migration/V0_16__add_unique_index_for_default_temporal_attributes.sql
Labels: fix, search

#403 fix(entity): send entity events from entity operations create endpoint #402
  entity-service/src/main/kotlin/com/egm/stellio/entity/web/EntityOperationHandler.kt
Labels: entity, fix

#399 feat(search): handle delete operations for subscriptions #397
  search-service/src/main/kotlin/com/egm/stellio/search/service/SubscriptionEventListenerService.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/SubscriptionEventListenerServiceTest.kt
  search-service/src/test/resources/ngsild/events/listened/subscriptionDeleteEvent.jsonld
Labels: feature, search

#404 fix: add missing configuration for neo4j migrations authentication
  docker-compose.yml
Labels: entity, fix

#405 chore(common): upgrade to last maintenance release for Spring Boot and Spring Cloud
  build.gradle.kts
Labels: chore, common

#408 feat(entity): handle entity delete events for subscriptions #79
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/SubscriptionEventListenerService.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/SubscriptionHandlerService.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/service/SubscriptionEventListenerServiceTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/service/SubscriptionHandlerServiceTests.kt
  entity-service/src/test/resources/ngsild/events/listened/subscriptionDeleteEvent.jsonld
Labels: entity, feature

#413 feat(search): add support for count in aggregated queries #412
  search-service/src/main/kotlin/com/egm/stellio/search/model/TemporalQuery.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/AttributeInstanceServiceTests.kt
Labels: feature, search

#414 feat(entity): add partial support for attribute path when querying entities #409
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/Neo4jRepository.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/repository/Neo4jRepositoryTests.kt
Labels: entity, feature

#418 fix(entity): properties names expansion when querying entities #409
  entity-service/config/detekt/baseline.xml
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/Neo4jRepository.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/EntityService.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/repository/Neo4jRepositoryTests.kt
Labels: entity, fix

#421 feat(search): add partial support for query temporal entities with post #420
  build.gradle.kts
  search-service/src/main/kotlin/com/egm/stellio/search/service/QueryService.kt
  search-service/src/main/kotlin/com/egm/stellio/search/web/TemporalEntityHandler.kt
  search-service/src/main/kotlin/com/egm/stellio/search/web/TemporalEntityOperationsHandler.kt
  search-service/src/test/kotlin/com/egm/stellio/search/config/CoroutineTestRule.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/QueryServiceTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/web/TemporalEntityHandlerTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/web/TemporalEntityOperationsHandlerTests.kt
Labels: feature, search

#392 feat(entity): add support for pagination in query entities #388
  entity-service/config/detekt/baseline.xml
  entity-service/src/main/kotlin/com/egm/stellio/entity/EntityServiceApplication.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/authorization/AuthorizationService.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/config/ApplicationProperties.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/Neo4jRepository.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/Neo4jSearchRepository.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/QueryUtils.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/SearchRepository.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/StandaloneNeo4jSearchRepository.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/EntityService.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/web/EntityHandler.kt
  entity-service/src/main/resources/application.properties
  entity-service/src/test/kotlin/com/egm/stellio/entity/authorization/Neo4jAuthorizationRepositoryTest.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/repository/Neo4jRepositoryTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/repository/Neo4jSearchRepositoryTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/repository/StandaloneNeo4jSearchRepositoryTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/service/EntityServiceTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/util/QueryEntitiesParameterizedTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/web/EntityHandlerTests.kt
  shared/src/main/kotlin/com/egm/stellio/shared/util/ApiUtils.kt
  shared/src/main/kotlin/com/egm/stellio/shared/util/PagingUtils.kt
  shared/src/test/kotlin/com/egm/stellio/shared/util/PagingUtilsTests.kt
  subscription-service/config/detekt/baseline.xml
  subscription-service/src/main/kotlin/com/egm/stellio/subscription/SubscriptionServiceApplication.kt
  subscription-service/src/main/kotlin/com/egm/stellio/subscription/config/ApplicationProperties.kt
  subscription-service/src/main/kotlin/com/egm/stellio/subscription/web/SubscriptionHandler.kt
  subscription-service/src/main/resources/application.properties
  subscription-service/src/test/kotlin/com/egm/stellio/subscription/web/SubscriptionHandlerTests.kt
Labels: entity, feature

#422 fix(entity): userId used for filtering authorized entities #388
  entity-service/config/detekt/baseline.xml
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/Neo4jSearchRepository.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/SearchRepository.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/StandaloneNeo4jSearchRepository.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/EntityService.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/repository/Neo4jSearchRepositoryTests.kt
Labels: entity, fix

#411 feat(entity): add support for counting number of results #389
  entity-service/config/detekt/baseline.xml
  entity-service/src/main/kotlin/com/egm/stellio/entity/web/EntityHandler.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/util/QueryEntitiesParameterizedTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/web/EntityHandlerTests.kt
  shared/config/detekt/baseline.xml
  shared/src/main/kotlin/com/egm/stellio/shared/util/ApiUtils.kt
  shared/src/main/kotlin/com/egm/stellio/shared/util/PagingUtils.kt
  subscription-service/src/main/kotlin/com/egm/stellio/subscription/web/SubscriptionHandler.kt
Labels: entity, feature
