Repository stellio-hub/stellio-context-broker, pull requests merged in 2021-06, with the labels that each got.

#424 fix(entity): counting number of results with limit 0 #389
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/Neo4jSearchRepository.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/QueryUtils.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/StandaloneNeo4jSearchRepository.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/repository/Neo4jSearchRepositoryTests.kt
Labels: entity, fix

#427 feat(search): allow to configure if we store entity payloads or not
  search-service/src/main/kotlin/com/egm/stellio/search/SearchServiceApplication.kt
  search-service/src/main/kotlin/com/egm/stellio/search/config/ApplicationProperties.kt
  search-service/src/main/kotlin/com/egm/stellio/search/config/EntityServiceProperties.kt
  search-service/src/main/kotlin/com/egm/stellio/search/service/EntityService.kt
  search-service/src/main/kotlin/com/egm/stellio/search/service/TemporalEntityAttributeService.kt
  search-service/src/main/resources/application-docker.properties
  search-service/src/main/resources/application.properties
  search-service/src/test/resources/application-test.properties
Labels: feature, search

#426 refactor(common): remove Spring Cloud Kafka in favor of Spring Kafka only
  build.gradle.kts
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/EntityEventService.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/IAMEventSink.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/IAMListener.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/ObservationEventListener.kt
  entity-service/src/main/resources/application-docker.properties
  entity-service/src/main/resources/application.properties
  entity-service/src/test/kotlin/com/egm/stellio/entity/service/EntityEventServiceTests.kt
  search-service/src/main/kotlin/com/egm/stellio/search/config/KafkaConfig.kt
  search-service/src/main/resources/application-docker.properties
  search-service/src/main/resources/application.properties
  subscription-service/src/main/kotlin/com/egm/stellio/subscription/service/EntityEventListenerService.kt
  subscription-service/src/main/kotlin/com/egm/stellio/subscription/service/SubscriptionEventService.kt
  subscription-service/src/main/resources/application-docker.properties
  subscription-service/src/main/resources/application.properties
  subscription-service/src/test/kotlin/com/egm/stellio/subscription/service/NotificationServiceTests.kt
  subscription-service/src/test/kotlin/com/egm/stellio/subscription/service/SubscriptionEventServiceTests.kt
  subscription-service/src/test/kotlin/com/egm/stellio/subscription/web/SubscriptionHandlerTests.kt
Labels: common, refactoring

#425 feat(search): only one query when searching for temporal evolution of attributes of the same type
  search-service/src/main/kotlin/com/egm/stellio/search/model/AttributeInstanceResult.kt
  search-service/src/main/kotlin/com/egm/stellio/search/service/AttributeInstanceService.kt
  search-service/src/main/kotlin/com/egm/stellio/search/service/QueryService.kt
  search-service/src/main/kotlin/com/egm/stellio/search/service/TemporalEntityAttributeService.kt
  search-service/src/main/kotlin/com/egm/stellio/search/web/TemporalEntityHandler.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/AttributeInstanceServiceTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/QueryServiceTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/TemporalEntityAttributeServiceTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/TemporalEntityServiceTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/util/ParameterizedTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/util/QueryParameterizedTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/web/TemporalEntityHandlerTests.kt
Labels: feature, search

#431 feat(entity): upgrade to neo4j 4.2
  docker-compose.yml
  entity-service/docker-compose.yml
  kubernetes/neo4j-deployment.yaml
Labels: entity, feature

#433 refactor(entity): add a data class to convey query params
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/Neo4jSearchRepository.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/QueryUtils.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/SearchRepository.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/StandaloneNeo4jSearchRepository.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/service/EntityService.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/web/EntityHandler.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/repository/Neo4jSearchRepositoryTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/repository/StandaloneNeo4jSearchRepositoryTests.kt
  shared/src/main/kotlin/com/egm/stellio/shared/model/QueryParams.kt
  shared/src/main/kotlin/com/egm/stellio/shared/util/ApiUtils.kt
Labels: entity, feature

#435 fix(entity): performance of query creating admin link upon the creation of an entity
  entity-service/src/main/kotlin/com/egm/stellio/entity/authorization/Neo4jAuthorizationRepository.kt
Labels: entity, fix

#434 feat(entity): switch to concurrent Kafka container factory
  entity-service/src/main/kotlin/com/egm/stellio/entity/config/KafkaConfig.kt
Labels: entity, feature

#441 Feature/440 improve message on temporal query returning 404
  search-service/src/main/kotlin/com/egm/stellio/search/service/QueryService.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/QueryServiceTests.kt
  shared/src/main/kotlin/com/egm/stellio/shared/util/ApiResponses.kt
Labels: entity, feature
