Repository stellio-hub/stellio-context-broker, pull requests merged in 2021-07, with the labels that each got.

#446 fix(entity): do not fail parsing parameters if type is not provided when querying entities
  entity-service/src/main/kotlin/com/egm/stellio/entity/web/EntityHandler.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/repository/StandaloneNeo4jSearchRepositoryTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/web/EntityHandlerTests.kt
Labels: fix

#447 feat(entity): allow to query on createdAt and modifiedAt properties
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/QueryUtils.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/repository/StandaloneNeo4jSearchRepositoryTests.kt
Labels: entity, feature

#455 feat: delete API_Quick_Start, used samples and postman collection
  API_Quick_Start.md
  README.md
  samples/API_Quick_Start.postman_collection.json
  samples/apiary.jsonld
  samples/apiculture_entities.jsonld
  samples/beehive.jsonld
  samples/beehive_addName.json
  samples/beehive_secondTemperatureUpdate.json
  samples/beehive_updateHumidity.json
  samples/beehive_updateTemperature.json
  samples/beekeeper.jsonld
  samples/sensor_humidity.jsonld
  samples/sensor_temperature.jsonld
  samples/subscription_newEndpoint.jsonld
  samples/subscription_newQuery.jsonld
  samples/subscription_to_beehive.jsonld
Labels: feature

#460 feat(entity): implement attrs filtering on entities #452
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/QueryUtils.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/web/EntityHandler.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/repository/Neo4jSearchRepositoryTests.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/repository/StandaloneNeo4jSearchRepositoryTests.kt
  entity-service/src/test/resources/logback-test.xml
  shared/src/main/kotlin/com/egm/stellio/shared/model/QueryParams.kt
Labels: entity, feature

#461 chore: upgrade Jib to 2.7.1 to fix Java 8 time error
  build.gradle.kts
Labels: chore, common

#463 fix(search): return empty arrays for attributes that do not have any instance #462
  search-service/src/main/kotlin/com/egm/stellio/search/service/QueryService.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/AttributeInstanceServiceTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/QueryServiceTests.kt
Labels: fix, search

#465 chore(common): upgrade to Jib 3.1.2
  api-gateway/build.gradle.kts
  build.gradle.kts
  entity-service/build.gradle.kts
  search-service/build.gradle.kts
  subscription-service/build.gradle.kts
Labels: chore, common

#469 feat(entity): support for JSON object as value #158
  entity-service/src/main/kotlin/com/egm/stellio/entity/config/Neo4jValuePropertyConverter.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/model/Property.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/repository/Neo4jRepositoryTests.kt
  shared/src/main/kotlin/com/egm/stellio/shared/util/JsonLdUtils.kt
  shared/src/test/kotlin/com/egm/stellio/shared/model/NgsiLdEntityTests.kt
  subscription-service/src/main/kotlin/com/egm/stellio/subscription/service/EntityEventListenerService.kt
Labels: entity, feature

#471 fix(subscription): decode q parameter in subscriptions #470
  entity-service/src/main/kotlin/com/egm/stellio/entity/util/ParsingUtils.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/web/EntityHandler.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/web/EntityTypeHandler.kt
  shared/src/main/kotlin/com/egm/stellio/shared/util/HttpUtils.kt
  subscription-service/src/main/kotlin/com/egm/stellio/subscription/service/NotificationService.kt
Labels: fix, subscription
