Repository stellio-hub/stellio-context-broker, pull requests merged in 2022-08, with the labels that each got.

#729 hotfix(entity): support case-insensitive regex matching on attributes
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/QueryUtils.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/repository/StandaloneNeo4jSearchRepositoryTests.kt
Labels: fix, entity

#730 fix(entity): use context from NGSI-LD entity when publishing batch update or upsert event
  entity-service/src/main/kotlin/com/egm/stellio/entity/web/EntityOperationHandler.kt
Labels: fix, entity

#731 feat(entity): no longer remove incoming relationships when deleting an entity
  entity-service/src/main/kotlin/com/egm/stellio/entity/repository/Neo4jRepository.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/repository/Neo4jRepositoryTests.kt
Labels: feature, entity

#726 feat(search): coroutines and API changes
  build.gradle.kts
  config/kafka/update_run.sh
  docker-compose.yml
  entity-service/docker-compose.yml
  search-service/config/detekt/baseline.xml
  search-service/docker-compose.yml
  search-service/src/main/kotlin/com/egm/stellio/search/authorization/EntityAccessRightsService.kt
  search-service/src/main/kotlin/com/egm/stellio/search/authorization/SubjectReferentialService.kt
  search-service/src/main/kotlin/com/egm/stellio/search/service/AttributeInstanceService.kt
  search-service/src/main/kotlin/com/egm/stellio/search/service/EntityEventListenerService.kt
  search-service/src/main/kotlin/com/egm/stellio/search/service/EntityPayloadService.kt
  search-service/src/main/kotlin/com/egm/stellio/search/service/EntityService.kt
  search-service/src/main/kotlin/com/egm/stellio/search/service/IAMListener.kt
  search-service/src/main/kotlin/com/egm/stellio/search/service/QueryService.kt
  search-service/src/main/kotlin/com/egm/stellio/search/service/SubscriptionEventListenerService.kt
  search-service/src/main/kotlin/com/egm/stellio/search/service/TemporalEntityAttributeService.kt
  search-service/src/main/kotlin/com/egm/stellio/search/util/DBUtils.kt
  search-service/src/main/kotlin/com/egm/stellio/search/web/TemporalEntityHandler.kt
  search-service/src/main/kotlin/com/egm/stellio/search/web/TemporalEntityOperationsHandler.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/AttributeInstanceServiceTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/EntityAccessRightsServiceTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/EntityEventListenerServiceTest.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/EntityPayloadServiceTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/EntityServiceTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/IAMListenerTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/QueryServiceTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/SubjectReferentialServiceTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/SubscriptionEventListenerServiceTest.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/TemporalEntityAttributeServiceTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/web/TemporalEntityHandlerTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/web/TemporalEntityOperationsHandlerTests.kt
  shared/build.gradle.kts
  shared/src/main/kotlin/com/egm/stellio/shared/model/EntityEvent.kt
  shared/src/testFixtures/kotlin/com/egm/stellio/shared/util/AssertionUtils.kt
  subscription-service/docker-compose.yml
Labels: feature, search

#734 fix(search): align date of buckets wrt queries entities
  search-service/config/detekt/baseline.xml
  search-service/src/main/kotlin/com/egm/stellio/search/service/AttributeInstanceService.kt
  search-service/src/main/kotlin/com/egm/stellio/search/util/QueryUtils.kt
  search-service/src/main/kotlin/com/egm/stellio/search/web/TemporalEntityHandler.kt
  search-service/src/test/kotlin/com/egm/stellio/search/service/AttributeInstanceServiceTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/util/QueryUtilsTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/web/TemporalEntityHandlerTests.kt
Labels: fix

#742 fix(entity): an user always belongs to its groups...
  entity-service/src/main/kotlin/com/egm/stellio/entity/authorization/Neo4jAuthorizationRepository.kt
  entity-service/src/main/kotlin/com/egm/stellio/entity/web/EntityAccessControlHandler.kt
  entity-service/src/test/kotlin/com/egm/stellio/entity/authorization/Neo4jAuthorizationRepositoryTest.kt
Labels: fix, entity
