Repository stellio-hub/stellio-context-broker, pull requests merged in 2025-02, with the labels that each got.

#1327 fix(temp): use deleted entity in notifications
  subscription-service/src/main/kotlin/com/egm/stellio/subscription/service/NotificationService.kt
Labels: fix, subscription

#1323 Feature/local parameter
  search-service/src/main/kotlin/com/egm/stellio/search/entity/web/EntityHandler.kt
  search-service/src/test/kotlin/com/egm/stellio/search/csr/service/DistributedEntityProvisionServiceTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/entity/web/EntityHandlerTests.kt
Labels: feature, csr

#1321 Feature/distributed create entity
  search-service/config/detekt/baseline.xml
  search-service/src/main/kotlin/com/egm/stellio/search/csr/model/CSRFilters.kt
  search-service/src/main/kotlin/com/egm/stellio/search/csr/model/ContextSourceRegistration.kt
  search-service/src/main/kotlin/com/egm/stellio/search/csr/model/RegistrationInfoFilter.kt
  search-service/src/main/kotlin/com/egm/stellio/search/csr/service/DistributedEntityProvisionService.kt
  search-service/src/main/kotlin/com/egm/stellio/search/entity/service/EntityOperationService.kt
  search-service/src/main/kotlin/com/egm/stellio/search/entity/web/BatchAPIResponses.kt
  search-service/src/main/kotlin/com/egm/stellio/search/entity/web/EntityHandler.kt
  search-service/src/test/kotlin/com/egm/stellio/search/authorization/web/AnonymousUserHandlerTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/csr/CsrUtils.kt
  search-service/src/test/kotlin/com/egm/stellio/search/csr/model/ContextSourceRegistrationTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/csr/service/DistributedEntityProvisionServiceTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/entity/service/EntityOperationServiceTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/entity/web/EntityHandlerTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/entity/web/EntityOperationHandlerTests.kt
  shared/src/main/kotlin/com/egm/stellio/shared/model/ApiExceptions.kt
  shared/src/main/kotlin/com/egm/stellio/shared/model/ExpandedEntity.kt
  shared/src/main/kotlin/com/egm/stellio/shared/model/ExpandedMembers.kt
  shared/src/main/kotlin/com/egm/stellio/shared/util/JsonLdUtils.kt
Labels: feature, csr

#1331 refactor: expandedEntity id is a uri.
  search-service/src/main/kotlin/com/egm/stellio/search/csr/service/DistributedEntityProvisionService.kt
  search-service/src/main/kotlin/com/egm/stellio/search/entity/web/EntityHandler.kt
  search-service/src/main/kotlin/com/egm/stellio/search/temporal/service/TemporalQueryService.kt
  search-service/src/main/kotlin/com/egm/stellio/search/temporal/web/TemporalEntityHandler.kt
  search-service/src/test/kotlin/com/egm/stellio/search/authorization/service/EnabledAuthorizationServiceTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/csr/model/ContextSourceRegistrationTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/entity/service/EntityOperationServiceTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/entity/service/EntityQueryServiceTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/entity/web/EntityHandlerTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/entity/web/EntityOperationHandlerTests.kt
  shared/src/main/kotlin/com/egm/stellio/shared/model/ExpandedEntity.kt
  shared/src/main/kotlin/com/egm/stellio/shared/model/ExpandedMembers.kt
  shared/src/main/kotlin/com/egm/stellio/shared/model/NgsiLdEntity.kt
  shared/src/main/kotlin/com/egm/stellio/shared/util/ApiResponses.kt
  shared/src/test/kotlin/com/egm/stellio/shared/model/ExpandedEntityTests.kt
  shared/src/test/kotlin/com/egm/stellio/shared/model/NgsiLdEntityTests.kt
Labels: refactoring

#1332 feat: distribute delete entity
  search-service/src/main/kotlin/com/egm/stellio/search/csr/model/ContextSourceRegistration.kt
  search-service/src/main/kotlin/com/egm/stellio/search/csr/model/Operation.kt
  search-service/src/main/kotlin/com/egm/stellio/search/csr/service/DistributedEntityConsumptionService.kt
  search-service/src/main/kotlin/com/egm/stellio/search/csr/service/DistributedEntityProvisionService.kt
  search-service/src/main/kotlin/com/egm/stellio/search/entity/web/BatchAPIResponses.kt
  search-service/src/main/kotlin/com/egm/stellio/search/entity/web/EntityHandler.kt
  search-service/src/test/kotlin/com/egm/stellio/search/csr/service/DistributedEntityProvisionServiceTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/entity/web/EntityHandlerTests.kt
Labels: feature, csr

#1337 feature: add filter to query csr (+ query csr tests)
  search-service/config/detekt/baseline.xml
  search-service/src/main/kotlin/com/egm/stellio/search/csr/model/CSRFilters.kt
  search-service/src/main/kotlin/com/egm/stellio/search/csr/service/ContextSourceRegistrationService.kt
  search-service/src/main/kotlin/com/egm/stellio/search/csr/web/ContextSourceRegistrationHandler.kt
  search-service/src/main/kotlin/com/egm/stellio/search/entity/model/EntitiesQuery.kt
  search-service/src/main/kotlin/com/egm/stellio/search/entity/util/EntitiesQueryUtils.kt
  search-service/src/main/kotlin/com/egm/stellio/search/entity/web/EntityHandler.kt
  search-service/src/test/kotlin/com/egm/stellio/search/csr/service/ContextSourceRegistrationServiceTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/csr/web/ContextSourceRegistrationHandlerTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/entity/web/EntityHandlerTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/temporal/util/TemporalQueryUtilsTests.kt
  search-service/src/test/kotlin/com/egm/stellio/search/temporal/web/TemporalEntityHandlerTests.kt
Labels: feature
